/IntegratedLibrarySystemActual/dist/
/LibraryAdminTerminalClient/dist/
/LibraryAdminTerminalClient/build/
/IntegratedLibrarySystem/nbproject/private/
/IntegratedLibrarySystem/IntegratedLibrarySystem-ejb/nbproject/private/
/IntegratedLibrarySystemLibrary/nbproject/private/
/SelfKioskClient/nbproject/private/
/IntegratedLibrarySystemLibrary/build/
/IntegratedLibrarySystem/IntegratedLibrarySystem-ejb/build/
/IntegratedLibrarySystemLibrary/dist/
/IntegratedLibrarySystem/build/
/IntegratedLibrarySystem/IntegratedLibrarySystem-ejb/dist/
/SelfKioskClient/build/
/IntegratedLibrarySystem/dist/
/SelfKioskClient/dist/
/BookDropMachineClient/nbproject/private/
/BookDropMachineClient/build/
/BookDropMachineClient/dist/